{% extends "base.html" %}
{% load static %}
{% block title %}
{{title}}
{% endblock %}

{% block table %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>{{title}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href={% url "index" %}>Home</a></li>
                <li class="breadcrumb-item"><a href={% url "listar_sedes" %}>Sedes</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>

                    <!-- Table with stripped rows -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in object_list %}
                                {% if c.estado == True %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{c.nombre}}</td>
                                <td><a class="btn btn-primary me-1" href=" {% url "editar_sede" c.id %} " title="
                                        Editar"><i class="bi bi-pencil-square "></i></a><a class="btn btn-danger ms-1"
                                        href=" {% url "eliminar_sede" c.id %} "
                                        title=" Eliminar"><i class="bi bi-trash-fill"></i></a></td>
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>

                    </table>
                    <!-- End Table with stripped rows -->
                    <a class="btn btn-primary" href=" {% url "crear_sede" %} "><i class=" bi bi-plus-lg">
                        Agregar</i></a>

                </div>
            </div>



        </div>
    </div>

</main>

{% endblock %}